[Desktop Entry]
Type=Application
Name=xone Control
Comment=Status, Akku und LED-Steuerung für xone Controller
Exec=/home/denis/myprojects/xone-control/start-xone-control.sh
Icon=/home/denis/myprojects/xone-control/icon/xbox-series-x-green.svg
Terminal=false
Categories=Utility;GTK;
